.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.header-container a {
    color: hsl(0, 0%, 70%);
    font-size: 18px;
}

.header-container a:hover{
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}

/* buger design */
.burger-icon{
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    display: none;
}

.close-icon{
    display: none;
}

.close-ul{
    display: none;
}


.ul-top{
    display: flex;
    gap: 20px;
}

.burger-resize{
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: start;
    justify-content: center;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color:  hsl(217, 36%, 12%);
    width: 80vw;
}

.burger-off{
    display: none;
}
@media (max-width: 800px){
    .burger-icon{
        display: block;
    }
    .ul-top{
        display: none;
    }
}
@media (max-width: 500px) {
    .header-container{
        padding: 20px;
    }   
}